
@{
    ViewBag.Title = "Integration Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = (MNproject.Models.Classes.Data)Session["data"];
    var result = (double)Session["resultSimpson"];
    var addFxi = 0.0;
    var addSimpsonXi = 0.0;
}

<p><h3>Result for:  fx=  @data.fx ; a = @data.a ; b = @data.b ; n = @data.n </h3></p>
<p><h3><span style="color:#A3CF53"> @result</span></h3></p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>n</th>
                <th>Xi</th>
                <th>Fxi</th>
                <th>Simpson 1/3</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MNproject.Models.Classes.Simpson s in (List<MNproject.Models.Classes.Simpson>)Session["tableSimpson"])
            {
                <tr>
                    <td>@s.n</td>
                    <td>@s.x</td>
                    <td>@s.fx</td>
                    <td>@s.simpsonXi</td>
                </tr>
                addSimpsonXi += s.simpsonXi;
                addFxi += s.fx;
            }            
        </tbody>
    </table>
    
</div>