<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    <title>@ViewBag.Title | Project</title>
</head>
<body>
    <div class="container body-content">
        <div class="container body-content">            
            <div class="page-content">
                <div class="row">
                    <!--Left nav-->
                    <div class="col-md-3">
                        <div class="sidebar content-box" style="display: block;">
                            <ul class="nav">
                                <!-- Main menu -->
                                <li><a href="@Url.Action("Index","Home")"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                                <!--my account-->
                                <li class="submenu">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-th-list"></i> Metodos Numericos permitidos
                                        <span class="caret pull-right"></span>
                                    </a>
                                    <ul>
                                        <li><a href="@Url.Action("integrationForm", "Home")" asp>Integracion Simpson</a></li>                                        
                                        <li><a href="@Url.Action("Derivates", "Home")">Derivacion</a></li>
                                        <li><a href="@Url.Action("BisectionForm", "Home")">Bisccecion</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-picture"></i> Graficar y Evaluar Funciones (no yet)
                                        <span class="caret pull-right"></span>
                                    </a>
                                    <ul>
                                        <li><a href="@Url.Action("Evaluar","Home")">Evaular</a></li>
                                        <li><a href="@Url.Action("Graficar", "Home")">Graficar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> Acerca de</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Body-->
                    <div class="col-md-9">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>@ViewBag.Title</h2></div>
                            </div>
                            <div class="panel-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; 2018 - Metodos Numericos Project </p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/Integration.js"></script>  
    <script src="~/Scripts/Bisection.js"></script>
    
</body>
</html>